/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* This file is for your main application CSS */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

header {
    background: linear-gradient(
        to right,
        #195099 25%,
        #f6fafa 25%,
        #f6fafa 75%,
        #e71f27 75%
    );
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #195099;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e0e0e0;
}

.profile-content-container {
    line-height: 135%;
    font-family: "Noto Sans Mono", "Noto Sans KR", monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    padding: 0 20%;
    text-align: left;
}

.profile-content-container h3 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.profile-content {
    position: relative;
    background-color: #f6fafa;
    padding: 20px;
    margin: 10px 0;
}

.profile-content:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background: linear-gradient(
        145deg,
        #195099 15%,
        #c3c6c8 15% 85%,
        #e71f27 85%
    );
    z-index: -1;
}

.profile-content blockquote {
    font-size: 15px;
    background-color: #dce7f7;
    /* 배경색 설정 */
    border-radius: 30px;
    /* 모서리 둥글게 설정 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* 그림자 효과 추가 */
    padding: 15px;
    /* 안쪽 여백 추가 */
    margin: 15px 0;
    /* 바깥쪽 여백 추가 */
    border-left: 5px solid #a4b8d1;
    /* 왼쪽 테두리 강조 */
}

.profile-content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-content img {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .profile-content ul {
        padding-left: 20px;
    }
    .profile-content-container {
        padding: 0 10%;
    }

    .profile-content img {
        width: 200px;
    }

    .profile-content blockquote {
        font-size: 13px;
        background-color: #dce7f7;
        /* 배경색 설정 */
        border-radius: 30px;
        /* 모서리 둥글게 설정 */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        /* 그림자 효과 추가 */
        padding: 15px;
        /* 안쪽 여백 추가 */
        margin: 15px 0;
        /* 바깥쪽 여백 추가 */
        border-left: 5px solid #a4b8d1;
        /* 왼쪽 테두리 강조 */
    }
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2열 그리드 */
    grid-gap: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 19px;
}

.posts-post {
    border: 1px solid #ddd;
    padding: 15px;
    flex: 1;
    margin: 0 10px;
    max-width: 350px;
    /* 최대 너비 설정 */
    max-height: 300px;
    /* 최대 높이 설정 */
    overflow: hidden;
    /* 넘치는 내용 숨김 */
}

.posts-post h2 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 최대 3줄 표시 */
    -webkit-box-orient: vertical;
}

.posts-post h2 a.link-text {
    color: #808080;
}

/* .posts-post p {
    font-size: 1em;
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} */

.posts-post .post-updated-at {
    right: 10px; /* 오른쪽 정렬 */
    bottom: 10px; /* 아래쪽 정렬 */
    font-size: 0.8em; /* 텍스트 크기 조정 */
    color: #808080; /* 텍스트 색상 */
    margin: 0; /* 기본 여백 제거 */
}

/* 모바일 환경 대응 */
@media (max-width: 600px) {
    .posts-grid {
        grid-template-columns: 1fr;
    }

    .posts-post {
        margin: 10px auto;
        /* 수정: 상하 마진 유지, 좌우 마진으로 가운데 정렬 */
        flex: 0 0 auto;
        /* 추가: flex 아이템의 크기가 자동으로 조정되도록 설정 */
    }

    .posts-image {
        width: 100%;
        height: auto;
    }
}

/* pageination */
.pagination {
    text-align: center;
    padding: 20px 0;
}

.pagination-arrow {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.pagination-else {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.pagination-active {
    margin: 0 5px;
    padding: 5px 10px;
    border: 2px solid transparent;
    color: #333;
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        #195099 10%,
        #f6fafa 10%,
        #f6fafa 90%,
        #e71f27 90%
    );
    border-image: linear-gradient(
            145deg,
            #195099 33%,
            #f6fafa 33%,
            #f6fafa 66%,
            #e71f27 66%
        )
        1 stretch;
}

/* post-content */
.posts-content {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;

    font-family: "Noto Sans Mono", "Noto Sans KR", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 15px;

    line-height: 130%;
    text-align: left;
    position: relative;
    background-color: #f6fafa;
    padding: 20px;
}

.posts-content:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background: linear-gradient(
        145deg,
        #195099 15%,
        #c3c6c8 15% 85%,
        #e71f27 85%
    );
    z-index: -1;
}

.posts-content body {
    font-family: "Noto Sans Mono", "Noto Sans KR", monospace;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f8f8f8;
    color: #333;
}

.posts-content h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 600;
    line-height: 120%;
}

.posts-content h1 {
    margin-top: 20px;
    font-size: 2em;
}

.posts-content h2 {
    margin-top: 18px;
    font-size: 1.5em;
}

.posts-content h3 {
    margin-top: 16px;
    font-size: 1.17em;
}

.posts-content p,
ul,
ol,
pre,
blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
}

.posts-content ul,
ol {
    padding-left: 20px;
}

.posts-content p code.inline {
    color: black;
    font-size: 15px;
    background: none;
}

.posts-content code.inline {
    color: orange;
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 11px;
    font-family: "Noto Sans Mono", "Noto Sans KR", monospace;
}

.posts-content blockquote {
    color: #666;
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #ddd;
}

.posts-content a {
    color: #0366d6;
    text-decoration: none;
}

.posts-content a:hover {
    text-decoration: underline;
}

.posts-content img {
    max-width: 100%;
}

.posts-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.posts-content th,
.posts-content td {
    text-align: left;
    padding: 6px;
    border: 1px solid #ddd;
}

.posts-content th {
    background-color: #f2f2f2;
    color: #333;
    font-size: 13px;
}

.posts-content tr:nth-child(even) {
    background-color: #f9f9f9;
}

.posts-content tr:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
    .posts-content {
        margin: 13px;
    }
}

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    font-family: "Noto Sans Mono", "Noto Sans KR", monospace;
    font-size: 12px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.1;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    position: relative;
    margin: 0.7em 0;
    overflow: visible;
    padding: 1px;
}

pre[class*="language-"] > code {
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    z-index: 1;
    border-left: 10px solid #358ccb;
    box-shadow:
        -1px 0px 0px 0px #358ccb,
        0px 0px 0px 1px #dfdfdf;
    background-color: #fdfdfd;
    background-image: linear-gradient(
        transparent 50%,
        rgba(69, 142, 209, 0.04) 50%
    );
    background-size: 3em 3em;
    background-origin: content-box;
    background-attachment: local;
}

code[class*="language-"] {
    max-height: inherit;
    height: inherit;
    padding: 0 1em;
    display: block;
    overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: #fdfdfd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    position: relative;
    padding: 0.2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    white-space: normal;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 50%;
    height: 20%;
    max-height: 13em;
    box-shadow: 0px 8px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

pre[class*="language-"]:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}
pre[class^="language-"] code {
    line-height: 1.5; /* 원하는 line-height 값 */
}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #7d8b99;
}

.token.punctuation {
    color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: #1990b8;
}

.token.regex,
.token.important {
    color: #e90;
}

.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.namespace {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
        bottom: 14px;
        box-shadow: none;
    }
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
    padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
    padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
    left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

pre[data-line] code {
    position: relative;
    padding-left: 4em;
}

pre .line-highlight {
    margin-top: 0;
}
